.loadbear {

    /* Foundational Styles */
    .lb-brand1-grey {
        background: #888888;
    }

    .lb-brand1-black {
        background: #111111;
    }

    .lb-brand1-blue {
        background: #2288AA;
    }
}

