.loadbear {

    /* Foundational Styles */
    .lb-brand2-grey {
        background: #AAAAAA;
    }

    .lb-brand2-blue {
        background: #55BBEE;
    }

    .lb-brand2-pink {
        background: #FF3399;
    }
}