






/* Component Styles */

.loadbear lb-button {
    display: inline-block;
}

.loadbear lb-button button, .loadbear lb-button a {
    font-size: 14px;
    color: #FFF;
    border: none;
    padding: 16px 18px;
    margin: 0 8px 8px 0;
    box-sizing: border-box;
    line-height: 16px;
    display: inline-block;
}

.loadbear lb-button button:hover, .loadbear lb-button a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.loadbear lb-image-cta {
    display: block;
    border: 1px solid #999;
    padding: 16px;
    margin: 16px;
}

.loadbear lb-image-cta img {
    width: 100%;
}